@font-face {
    font-family: "QuickExpress";
    src: url("../fonts/QuickExpress/QuickExpress.eot?") format("eot"), url("../fonts/QuickExpress/QuickExpress.woff") format("woff"), url("../fonts/QuickExpress/QuickExpress.ttf") format("truetype"), url("../fonts/QuickExpress/QuickExpress.svg#QuickExpress") format("svg");
    font-weight: normal;
    font-style: normal;
}